# TP 4 : Les volcans sujet


![Volcans Sujet](../images/volcans.png)

On commence par éxécuter la commande `%load_ext sql` qui est une magic command spécifique à Jupyter Notebook. Elle sert à charger l’extension ipython-sql, qui permet d’exécuter du code SQL directement dans des cellules Jupyter comme si c'était du Python natif :

In [2]:
%load_ext sql

Ensuite, on établit une connexion SQL entre notre Jupyter et notre base de données SQLite locale nommée `volcans.db` :

In [3]:
%sql sqlite:///volcans.db

On exécute la cellule suivante pour configurer l'affichage des résultats SQL dans notre notebook Jupyter lorsqu'on utilise l'extension `ipython-sql` :

In [5]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

Ici on liste les tables présentes dans notre base de données :

In [7]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///volcans.db
Done.

[('volcans',)]

Ensuite, on liste les colonnes dans la table volcans :

In [8]:
%%sql
PRAGMA table_info(volcans)

 * sqlite:///volcans.db
Done.

[(0, 'volcano', 'TEXT', 0, None, 1),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'wiki', 'TEXT', 0, None, 0),
 (3, 'elevation', 'INTEGER', 0, None, 0),
 (4, 'lat', 'REAL', 0, None, 0),
 (5, 'lon', 'REAL', 0, None, 0),
 (6, 'eruption_date', 'TEXT', 0, None, 0),
 (7, 'eruption_year', 'INTEGER', 0, None, 0),
 (8, 'abstract', 'TEXT', 0, None, 0),
 (9, 'photo', 'TEXT', 0, None, 0)]

On peut alors répondre aux questions du TP4.

___

### Partie 1 – Exploration de la base 
1) Lister les 10 volcans les plus hauts, classés par altitude décroissante. N'affichez que les noms et les altitudes.

2) Compter le nombre de volcans dont l’altitude est supérieure à 5000 mètres.

3) Afficher le nom, l'altitude et le lien Wikipédia pour les volcans ayant une altitude inférieure à 300m.

### Partie 2 – Analyse temporelle
4) Lister 10 volcans ayant eu une éruption après l’an 2000.

5) Trouver combien de volcans ont une année d’éruption connue (c’est-à-dire non nulle).

6) Trouver 10 volcans ayant l'éruption la plus lointaine, trier par ordre croissant d'année d'éruption.

### Partie 3 – Données géographiques

7) Trouver les volcans situés dans l’hémisphère sud.

8) Compter le nombre de volcans situés entre l’équateur (lat = 0) et 30°N.

9) Identifier les 5 volcans les plus au nord (par latitude décroissante).

### Partie 4 – Requête avancée (bonus)
10) Extraire 5 volcans ayant dans leur description (abstract) le mot "eruption".